Package: gpxsee
Source: gpxsee
Version: 1.0.1
Architecture: all
Maintainer: Robert Key robertkey021@gmail.com
Section: utils
Build-Depends: debhelper-compat (=13),
		  qtbase5-private-dev,
		  qtbase5-dev,
		  qttools5-dev-tools, 
		  qt5-qmake,
          libqt5svg5-dev, 
          libqt5opengl5-dev, 
          zlib1g-dev, 
          libpng-dev, 
          libjpeg-dev, 
          libproj-dev,
          libexif-dev, 
          libtiff-dev, 
          libgeos-dev, 
          libqt5serialport5-dev
Priority: optional
Homepage: https://www.gpxsee.org/
Depends: ${shlibs:Depends}, ${misc:Depends}, 
		 build-essential,
		 cmake,
		 qt5-qmake,
		 pkg-config
Description: This gpxsee source is cloned from github, build and installed.
