Package: gpxsee
Source: gpxsee
Version: 1.0.4
Architecture: all
Maintainer: Robert Key robertkey021@gmail.com
Section: utils
Priority: optional
Homepage: https://www.gpxsee.org/
Depends:  build-essential,
		 cmake,
		 pkg-config,
		 libqt5core5a, 
		 libqt5gui5, 
		 libqt5widgets5, 
		 libqt5svg5, 
		 libqt5opengl5, 
		 libqt5serialport5, 
		 zlib1g, 
		 libpng16-16, 
		 libjpeg62-turbo,
		  qtbase5-private-dev,
		  qtbase5-dev,
		  qttools5-dev-tools, 
		  qt5-qmake,
	          libqt5svg5-dev, 
		  libqt5opengl5-dev, 
	          zlib1g-dev, 
		  libpng-dev, 
	          libjpeg-dev, 
	          libproj-dev,
	          libexif-dev, 
	          libtiff-dev, 
	          libgeos-dev, 
	          libqt5serialport5-dev
Description: This gpxsee source is cloned from github, build and installed.
